.brand-section {
    display: flex;
    flex-direction: column;

    .mobile-img {
        display: block;
    }

    .desktop-img {
        display: none;
    }

    .img-container {
        img {
            width: 100%;
        }
    }

    .text-container {
        padding: 50px 25px;
        text-align: center;
        @include flexCenter(column);
        gap: 20px;

        h2, span {
            font-family: "Barlow Bold";
        }

        h2 {
            font-size: 35px;
        }

        span {
            cursor: pointer;
        }
    }

    .img-and-text-container {
        position: relative;

        .text-container {
            color: $darkBlue;
            font-family: "Barlow Bold";
            font-weight: bold;
            position: absolute;
            z-index: 1;
            bottom: 30px;
        }

        .img-container {
            height: 100%;

            img {
                height: 600px;
            }
        }
    }
}

@media all and (min-width: 900px) {
    .brand-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "transform egg"
            "cup standout"
            "cherries clementine"
        ;

        .mobile-img {
            display: none;
        }
    
        .desktop-img {
            display: block;
        }

        .transform {
            grid-area: transform;
        }

        .egg {
            grid-area: egg;
        }

        .cup {
            grid-area: cup;
        }

        .standout {
            grid-area: standout;
        }

        .cherries {
            grid-area: cherries;
        }

        .clementine {
            grid-area: clementine;
        }
    }
}