.header {
    @include flexCenter(column);
    background-image: url("../images/mobile/image-header.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 40px 30px 150px 30px;

    .nav-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .desktop-nav {
            display: none;
        }

        .icon-container {
            height: 25px;
            flex-grow: 1;
            display: flex;
            flex-direction: row;
            justify-content: end;
            
            .hamburger-icon, .close-icon {
                cursor: pointer;
            }

            .close-icon {
                display: none;
            }
        }
    }

    .mobile-nav {
        display: none;
    }

    .title {
        color: white;
        font-size: 50px;
        font-family: "Barlow Bold";
        letter-spacing: 2px;
        text-align: center;
        margin-top: 75px;
        margin-bottom: 50px;
    }
}

@import "./dynamic-header-classes";

@media all and (min-width: 700px) {
    .header {
        background-image: url("../images/desktop/image-header.jpg");

        .nav-container {
            .icon-container {
                display: none;
            }

            .desktop-nav {
                @include flexCenter(row);
                gap: 40px;
                font-weight: bold;

                span, button {
                    cursor: pointer;
                }
            
                span {
                    border: 3px solid transparent;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    color: white;
            
                    &:hover {
                        border-bottom-color: white;
                    }
                }
            
                button {
                    border: none;
                    border-radius: 30px;
                    padding: 10px 30px;
                    font-weight: bold;
                    font-family: "Barlow Extra Bold";
            
                    &:hover {
                        color: white;
                        background: orange;
                    }
                }
            }
        }
    }
}