.header {
    @include flexCenter(column);
    background-image: url("../images/mobile/image-header.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 40px 30px 150px 30px;

    .nav-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .icon-container {
            height: 25px;
            flex-grow: 1;
            display: flex;
            flex-direction: row;
            justify-content: end;
            
            .hamburger-icon, .close-icon {
                cursor: pointer;
            }

            .close-icon {
                display: none;
            }

            .hamburger-icon.hide {
                display: none;
            }

            .close-icon.show {
                display: block;
            }
        }
    }

    .mobile-nav {
        display: none;
    }

    .mobile-nav.show {
        @include flexCenter(column);
        gap: 20px;
        font-weight: bold;
        background-color: white;
        position: absolute;
        z-index: 1;
        top: 100px;
        width: 90%;
        padding-top: 30px;
        padding-bottom: 30px;

        span, button {
            cursor: pointer;
        }

        span {
            border: 3px solid transparent;
            padding-top: 5px;
            padding-bottom: 5px;

            &:hover {
                border-bottom-color: black;
            }
        }

        button {
            border: 3px solid black;
            border-radius: 30px;
            padding: 5px 20px;
            font-weight: bold;

            &:hover {
                color: white;
                background: orange;
                border-color: transparent;
            }
        }
    }

    .title {
        color: white;
        font-size: 50px;
        font-family: "Barlow Bold";
        letter-spacing: 2px;
        text-align: center;
        margin-top: 100px;
        margin-bottom: 50px;
    }
}