.testimonials-section {
    margin-bottom: 120px;
    
    .title {
        color: $specialGray;
        letter-spacing: 6px;
        font-family: "Barlow Extra Bold";
        text-align: center;
        margin-top: 120px;
        margin-bottom: 70px;
    }

    .clients {
        @include flexCenter(column);
        gap: 50px;

        .client {
            @include flexCenter(column);
            gap: 30px;
            padding: 0 30px;
            text-align: center;
            color: $veryDarkBlue;
            font-family: "Barlow Bold";
            font-weight: bold;
    
            img {
                border-radius: 50%;
            }
    
            .client-info {
                @include flexCenter(column);
                gap: 10px;
    
                h3 {
                    font-family: "Barlow Extra Bold";
                }
    
                span {
                    color: $specialGray;
                }
            }
        }
    }
}

@media all and (min-width: 800px) {
    .testimonials-section {
        padding-left: 50px;
        padding-right: 50px;

        .clients {
            flex-direction: row;
            gap: 0;
        }
    }
}