$darkBlue: hsl(198, 62%, 26%);
$veryDarkBlue: hsl(212, 27%, 19%);
$specialGray: rgb(150, 150, 150);

@font-face {
    font-family: "Barlow Light";
    src: url("../fonts/Barlow/Barlow-Light.ttf");
}

@font-face {
    font-family: "Barlow Bold";
    src: url("../fonts/Barlow/Barlow-Bold.ttf");
}

@font-face {
    font-family: "Barlow Extra Bold";
    src: url("../fonts/Barlow/Barlow-ExtraBold.ttf");
}

@mixin flexCenter($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Barlow Light";
}

body {
    display: flex;
    flex-direction: column;

    @import "./sass-components/header";

    .main {
        @import "./sass-components/brand-section";
        @import "./sass-components/testimonials-section";
    }
}