@font-face {
  font-family: "Barlow Light";
  src: url("../fonts/Barlow/Barlow-Light.ttf");
}

@font-face {
  font-family: "Barlow Bold";
  src: url("../fonts/Barlow/Barlow-Bold.ttf");
}

* {
  margin: 0;
  padding: 0;
  font-family: "Barlow Light";
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../images/mobile/image-header.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 40px 30px 150px 30px;
}

body .header .nav-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .header .nav-container .hamburger-container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

body .header .nav-container .hamburger-container .hamburger {
  cursor: pointer;
}

body .header .title {
  color: white;
  font-size: 50px;
  font-family: "Barlow Bold";
  letter-spacing: 2px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
}

body .main .brand-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .main .brand-section .img-container img {
  width: 100%;
  display: block;
}

body .main .brand-section .text-container {
  padding: 50px 25px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

body .main .brand-section .text-container h2, body .main .brand-section .text-container span {
  font-family: "Barlow Bold";
}

body .main .brand-section .text-container h2 {
  font-size: 35px;
}

body .main .brand-section .img-and-text-container {
  position: relative;
}

body .main .brand-section .img-and-text-container .text-container {
  color: #19536b;
  font-family: "Barlow Bold";
  font-weight: bold;
  position: absolute;
  z-index: 1;
  bottom: 30px;
}

body .main .brand-section .img-and-text-container .img-container {
  height: 100%;
}

body .main .brand-section .img-and-text-container .img-container img {
  height: 600px;
}
/*# sourceMappingURL=style.css.map */