@font-face {
  font-family: "Barlow Light";
  src: url("../fonts/Barlow/Barlow-Light.ttf");
}

@font-face {
  font-family: "Barlow Bold";
  src: url("../fonts/Barlow/Barlow-Bold.ttf");
}

@font-face {
  font-family: "Barlow Extra Bold";
  src: url("../fonts/Barlow/Barlow-ExtraBold.ttf");
}

* {
  margin: 0;
  padding: 0;
  font-family: "Barlow Light";
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../images/mobile/image-header.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 40px 30px 150px 30px;
}

body .header .nav-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .header .nav-container .desktop-nav {
  display: none;
}

body .header .nav-container .icon-container {
  height: 25px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

body .header .nav-container .icon-container .hamburger-icon, body .header .nav-container .icon-container .close-icon {
  cursor: pointer;
}

body .header .nav-container .icon-container .close-icon {
  display: none;
}

body .header .mobile-nav {
  display: none;
}

body .header .title {
  color: white;
  font-size: 50px;
  font-family: "Barlow Bold";
  letter-spacing: 2px;
  text-align: center;
  margin-top: 75px;
  margin-bottom: 50px;
}

@media all and (max-width: 700px) {
  body .header .nav-container .hamburger-icon.hide {
    display: none;
  }
  body .header .nav-container .close-icon.show {
    display: block;
  }
  body .header .mobile-nav.show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
    font-weight: bold;
    background-color: white;
    position: absolute;
    z-index: 1;
    top: 100px;
    width: 90%;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  body .header .mobile-nav.show span, body .header .mobile-nav.show button {
    cursor: pointer;
  }
  body .header .mobile-nav.show span {
    border: 3px solid transparent;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  body .header .mobile-nav.show span:hover {
    border-bottom-color: black;
  }
  body .header .mobile-nav.show button {
    border: 3px solid black;
    border-radius: 30px;
    padding: 5px 20px;
    font-weight: bold;
    font-family: "Barlow Extra Bold";
  }
  body .header .mobile-nav.show button:hover {
    color: white;
    background: orange;
    border-color: transparent;
  }
}

@media all and (min-width: 700px) {
  body .header {
    background-image: url("../images/desktop/image-header.jpg");
  }
  body .header .nav-container .icon-container {
    display: none;
  }
  body .header .nav-container .desktop-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 40px;
    font-weight: bold;
  }
  body .header .nav-container .desktop-nav span, body .header .nav-container .desktop-nav button {
    cursor: pointer;
  }
  body .header .nav-container .desktop-nav span {
    border: 3px solid transparent;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
  }
  body .header .nav-container .desktop-nav span:hover {
    border-bottom-color: white;
  }
  body .header .nav-container .desktop-nav button {
    border: none;
    border-radius: 30px;
    padding: 10px 30px;
    font-weight: bold;
    font-family: "Barlow Extra Bold";
  }
  body .header .nav-container .desktop-nav button:hover {
    color: white;
    background: orange;
  }
}

body .main .brand-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .main .brand-section .img-container img {
  width: 100%;
  display: block;
}

body .main .brand-section .text-container {
  padding: 50px 25px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

body .main .brand-section .text-container h2, body .main .brand-section .text-container span {
  font-family: "Barlow Bold";
}

body .main .brand-section .text-container h2 {
  font-size: 35px;
}

body .main .brand-section .text-container span {
  cursor: pointer;
}

body .main .brand-section .img-and-text-container {
  position: relative;
}

body .main .brand-section .img-and-text-container .text-container {
  color: #19536b;
  font-family: "Barlow Bold";
  font-weight: bold;
  position: absolute;
  z-index: 1;
  bottom: 30px;
}

body .main .brand-section .img-and-text-container .img-container {
  height: 100%;
}

body .main .brand-section .img-and-text-container .img-container img {
  height: 600px;
}

body .main .testimonials-section {
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}

body .main .testimonials-section .title {
  color: #969696;
  letter-spacing: 6px;
  font-family: "Barlow Extra Bold";
}

body .main .testimonials-section .client {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  padding: 0 30px;
  text-align: center;
  color: #23303e;
  font-family: "Barlow Bold";
  font-weight: bold;
}

body .main .testimonials-section .client img {
  border-radius: 50%;
}

body .main .testimonials-section .client .client-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

body .main .testimonials-section .client .client-info h3 {
  font-family: "Barlow Extra Bold";
}

body .main .testimonials-section .client .client-info span {
  color: #969696;
}

body .main .gallery-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

body .main .gallery-section .img-container img {
  width: 100%;
  height: 100%;
}

body .footer {
  background: #90d4c5;
  color: #458c7e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

body .footer .footer-menu {
  margin-top: 25px;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}

body .footer .footer-menu span {
  font-family: "Barlow Bold";
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
}

body .footer .footer-menu span:hover {
  border-bottom-color: #458c7e;
}

body .footer .footer-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}

body .footer .footer-contact img {
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */